.headerContainer {
    height: 6rem;

    background-color: var(--bg);
    box-shadow: 0px 4px 8px -3px rgb(0 0 0 / 97%);
}

.headerContent {
    max-width: 1120px;
    height: 6rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    h1 {
        color: var(--heading);
    }
}