.NewsletterContainer{
    display: block;
    position: relative;
    h1{
        color: var(--heading);
        font-size: 50px;
        padding-left: 20px;
    }
    margin-bottom: 50px;
}

.SubTitle{
    color: var(--heading);
    font-size: 22px;
    padding-left: 20px;

    @media (max-width: 720px) {
        font-size: 18px;
    }
}

.Email{
    display: block;
    width: 70%;
    height: 70px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #F8F8F8;
    padding-left: 2rem;
    font-size: 1.5rem;
    color: #13171d;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--heading);
        opacity: 0.9; /* Firefox */
    }

    @media (max-width: 720px) {
        width: 100%;
        height: 80px;
    }
    
}

.Register{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 2px 6px -3px rgb(0 0 0 / 50%);
    margin-top: 20px;
    overflow: hidden;

    button{
        height: 70px;
        width: 30%;
        cursor: pointer;
        background-color: var(--heading);
        color: var(--bg);
        font-weight: 700;
        font-size: 26px;
        border: none;
        transition: 0.2s;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            opacity: 0.9;
        }

        @media (max-width: 720px) {
            width: 100%;
        }
    }
    
}

.Sending{
    display: block;
    width: 35px;
    height: 35px;
    border: 6px solid transparent;
    border-top-color: var(--bg);
    margin: auto !important;
    border-radius: 100%;
    animation: lds-dual-ring 0.8s linear infinite;
    
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.ErrorMessage{
    position: absolute;
    right: 0;
    width: 30%;
    padding: 0 !important;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    color: rgb(194, 0, 0);
    font-weight: 700;

    @media (max-width: 720px) {
        width: 100%;
    }
}