.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}

.content{
    max-width: 920px;
    margin: 1.5rem auto 0;
    line-height: 1.75rem;
    font-size: 1.125rem;

    img{
        max-width: 100%;
        border-radius: 10px;
        position: initial !important;
    }

    h1{
        font-size: 2.5rem;
        font-weight: 900;
        color: var(--heading);
        line-height: 3rem;
    }

    p{
        margin: 1.5rem 0;
        color: var(--heading);
    }

    @media (max-width: 720px) {
        h1{
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}

.textContent{

    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px -3px rgb(0 0 0 / 50%);

    img{
        border-radius: 0;
    }

    h2{
        font-size: 1.5rem;
        font-weight: 900;
        padding-top: 1.5rem;
        color: #000;
    }

    p{
        margin: 1.5rem 0;
        color: #000;
        a{
            font-weight: bold;
            color: var(--highlight);
        }
    }

    ul, ol{
        padding-left: 1.5rem;
        li{
            margin: 0.5rem 0;
        }
    }

    pre{
        font-family: monospace,Monaco;
        font-size: 13px;
        line-height: 24px;
        background: #383b41;
        padding: 10px 12px;
        color: var(--text);
        border-radius: 4px;
        margin: 15px 0;
        overflow: overlay;
    }

    @media (max-width: 720px) {

        p{
            font-size: 1rem;
        }
    }
}

.info {
    color: var(--heading);
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

    p {
        font-size: 0.8rem;
        margin: 0;
    }

    div {
        display: flex;
        align-items: center;
        margin: 0 1rem 0 0;
    }

    svg {
        margin: 0 0.5rem 0 0;
    }

}

.category{
    cursor: pointer;
}

.author{
    color: var(--heading);
    display: none;

    p{
        margin: 0;
    }
}

.imageContainer{
    height: 525px;

    @media (max-width: 720px) {
        height: 55vw;
    }
}