.categoryCarouselContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: 5px 0;

    height: 190px;

    > a{
        height: 100%;
    }

    > a{
        width: 180px;
        background-color: #F8F8F8;
        box-shadow: 0px 2px 6px -3px rgb(0 0 0 / 50%);
        transition: 0.3s;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        cursor: pointer;

        img{
            max-width: 100px;
            border-radius: 10px;
        }

        &:hover{
            box-shadow: 0px 4px 8px -3px rgb(0 0 0 / 50%);
        }
    }

    @media (max-width: 720px) {
        overflow: auto;
        >div{
            margin: 0 20px;
        } 
        > a{
            margin-right: 30px;
        }
    
    }
}