
.posts {
    margin-bottom: 2rem;

    input{
        width: 100%;
        height: 70px;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #F8F8F8;
        padding-left: 2rem;
        font-size: 1.5rem;
        color: #13171d;
        box-shadow: 0px 2px 6px -3px rgb(0 0 0 / 50%);

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--heading);
            opacity: 0.9; /* Firefox */
        }
    }

    > div {
        display: block;
        position: relative;
        text-decoration: none;
        margin-top: 2rem;
        border-radius: 10px;
        padding: 15px 25px;
        background-color: #F8F8F8;
        transition: 0.3s;
        box-shadow: 0px 2px 6px -3px rgb(0 0 0 / 50%);

        &:hover{
            box-shadow: 0px 4px 8px -3px rgb(0 0 0 / 50%);
        }

        strong {
            display: block;
            font-size: 1.5rem;
            line-height: 2rem;
            transition: 0.5s;
            cursor: pointer;

            color: var(--heading);
        }

    }

    @media (max-width: 720px) {
        a{
            margin-top: 1.5rem;
        }
    }

}

.info {
    color: var(--info);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    p {
        font-size: 0.8rem;
        margin: 0 1rem 0 0;

    }

    div {
        display: flex;
        align-items: center;
        margin: 0 1rem 0.75rem 0;
    }

    svg {
        margin: 0 0.5rem 0 0;
        color: var(--heading);
    }

}

.listContent{

    p{
        color: var(--heading);
        margin: 0.2rem 0;
        transition: 0.5s;
    }
}

.category{
    position: absolute;
    top: 10px;
    right: 10px;

    p{
        color: #F8F8F8;
        margin: 0.2rem 0;
    }

    @media (max-width: 720px) {
        top: auto;
        bottom: 15px;
        right: 15px;
    }
}