
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 2rem;

    input{
        display: none;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 70px;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #F8F8F8;
        padding-left: 2rem;
        font-size: 1.5rem;
        color: #13171d;
        box-shadow: 0px 2px 6px -3px rgb(0 0 0 / 50%);
        margin-bottom: 20px;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--heading);
            opacity: 0.9; /* Firefox */
        }
    }


    @media (max-width: 720px) {
        grid-template-columns: 1fr;
        column-gap: 0px;
        a{
            margin-top: 1.5rem;
        }
    }

}

.cardAtList{
    display: flex;
    flex-direction: column;
    height: 260px;
    margin: 20px 0px;
    border-radius: 10px;
    align-self: end;
    background-color: #F8F8F8;
    box-shadow: 0px 2px 6px -3px rgb(0 0 0 / 50%);
    transition: 0.3s;
    position: relative;
    overflow: hidden;

    h2{
        font-size: 700%;
    }

    strong{
        color: var(--heading);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28%;
        padding: 20px 15px;
        font-size: 15px;
        position: absolute;
        bottom: 0px;
        @media (max-width: 720px) {
            padding: 15px;
        }
    } 
    
    img{
        max-height: 190px;
    }

    @media (max-width: 720px) {
        width: 100%;
        height: 65vw;

        img{
            max-height: 75%;
        }

        h2{
            font-size: 450%;
        }

        strong{
            color: var(--heading);
            height: 25%;
            display: flex;
            align-items: center;
        }

    }

}

.listContent{

    p{
        color: var(--heading);
        margin: 0.2rem 0;
        transition: 0.5s;
    }
}

.category{
    position: absolute;
    top: 10px;
    right: 10px;

    @media (max-width: 720px) {
        display: none;
    }
}