.footerContainer{
    width: 100%;
}

.footerContent{
    max-width: 1120px;
    margin: auto;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 1.3rem;
        color: var(--heading);
    }
}

.social{
    display: flex;
    margin-bottom: 2px;

    svg{
        width: 40px;
        height: 40px;
        margin: 7px;
        color: var(--heading);
        transition: 0.5s;
    }
}

.linkedin{

    svg{
        padding: 5px;
        border-radius: 5px;
    }

    &:hover{
        svg{
            background-color: #0e76a8;
        }
    }
}

.github{
    svg{
        padding: 5px;
        border-radius: 15px;
    }
    &:hover{
        svg{
            background-color: #171515;
        }
    }
}
