.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;

    h1{
        color: var(--heading);
        text-align: center;
        font-size: 42px;
        margin-top: 2rem;
    }

    span {
        margin-top: 2rem;
        color: var(--highlight);
        font-weight: bold;
        cursor: pointer;
    }
}
