html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
}

body>div{
  position: relative;
  z-index: 2;
}

body::before{
  content: '';
  background-image: url(https://images.prismic.io/tavanoblog/751c89fd-ad40-4f4a-aea2-4cb0bb163a6c___-removebg-preview.png?auto=compress,format);
  background-size: 15px;
  opacity: 0.01;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

$medium: 720px;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --highlight: #f30f8b;
  --heading: #1A1D23;
  --bg: rgb(246, 246, 246);
  --info: #BBBBBB;
  --body: #D7D7D7;
  --text: #eeeeee;
}

header.isSearching{
  margin-bottom: 75px;
}

div.isSearching{
  height: 72px !important;

}

.category{
  font-weight: bold;
  padding: 0.15rem 0.5rem;
  border-radius: 8px;
  color: white;
}

.postContainer  .postList .category{
  display: none;
}

.category p{
  margin: 0.2rem 0;
}

.VTEX{
  background-color: #f71962;
}

.Apps.Script{
  background-color: #1166e8;
}

.SEO{
  background-color: orange;
}

.HTML{
  background-color: #f06529;
}

.JavaScript{
  background-color: #F0DB4F;
  p{
    color: black !important;
  }
}

.Tecnologia{
  background-color: #3ab97a;
}

.React{
  background-color: #61DBFB;
}

.Cubo{
  background-color: black;
}

.CSS{
  background-color: #0074be;
}

.Gestão{
  background-color: #616161;
}